name: Node.js CI + Docker Push

on:
  push:
    branches: [ nodejs-docker-test ]
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm i

      - name: Run tests
        run: npm test

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build \
            -t rakeshroy1995/node-hello-ci:latest \
            -t rakeshroy1995/node-hello-ci:${{ github.sha }} .

      - name: Push Docker image
        run: |
          docker push rakeshroy1995/node-hello-ci:latest
          docker push rakeshroy1995/node-hello-ci:${{ github.sha }}
